
@{

    ViewData["Title"] = "Calculo da Emissão de Carbono";
}

<div class="text-center">
    <br />
    
        <h1 class="display-4">Calculamos a sua emissão de Carbono por 1 ano!</h1>

<h3>Você percorre @Model.Km por semana utilizando o transporte @Model.Transporte, ele roda @Model.ConsumoVeiculo por Litro de Combustível.</h3
    <h3>Sua emissão de CO² na atmosfera durante 1 ano foi de: @Model.Calculo Kg </h3>
    <br />
    <h4>Para compensar @Model.Calculo Kg de CO² na atmosfera, você precisa plantar @Model.Compensacao arvores! Ou comprar @Model.Credito de crédito Ambiental.</h4>

<br />

</div>

 
    


 